# Ignoring folders

# This folder holds my python virtual environment
.venv/

# Data folders are too big to be uploaded to GitHub
DATA/

# Weights and Biases folder is not needed for the repo 
wandb/

# Pycache and compiled files
__pycache__/
*.pyc